<h1>Search Page</h1>
<div class="mt-4">
  <form method="POST">
    <div class="form-group">
      <label for="search-input">KeyWord</label>
      <input 
        type="text" 
        class="form-control" 
        id="search-input" 
        placeholder="Please typing keyword"
        name="q"
      >
    </div>
    <div class="form-group">
      <label for="search-input">KeyWord</label>
      <select 
        type="text" 
        class="form-control" 
        id="gender-input" 
        name="gender"
      >
        <option value="">--Chon Gioi Tinh ---</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>